[requires]
python_version = "3.10.14"

[dev-packages]
black = "==24.1.1"
pre-commit = "*"
fastapi = "*"
uvicorn = "==0.25.0"
pydantic = "==2.5"
sqlalchemy = "==2.0.24"
psycopg2 = "==2.9.9"

[packages]
black = "==24.1.1"
pre-commit = "*"
fastapi = "*"
uvicorn = "==0.25.0"
pydantic = "==2.5"
sqlalchemy = "==2.0.24"
psycopg2 = "==2.9.9"